* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1626px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 3px solid rgba(128, 126, 126, 0.733);
}

.logo {
    font-size: 32px;
    color: #08A6E4;
    margin: 16px 0;
    margin-left: 136px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #A5A5A5;
}

.menu li {
    padding: 27px 48px;
    border-bottom: 5px solid rgba(128, 126, 126, 0);
}

.menu li:last-of-type {
    margin-right: 136px;
}

.menu li:hover {
    color: black;
    border-bottom: 5px solid #08A6E4;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner_slogan {
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.banner_slogan h1 {
    font-size: 49px;
    line-height: 57px;
    color: black;
}

.banner_slogan p {
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin-top: 20px;
}

.banner_slogan button {
    font-style: 16px;
    line-height: 22px;
    color: white;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border: 0px;
    margin-top: 40px;
    padding: 22px 157px;
    border-radius: 40px;
}

.banner_banner img {
    width: 100%;
}