* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1626px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 3px solid rgba(128, 126, 126, 0.733);
}

.logo {
    font-size: 32px;
    color: #08A6E4;
    margin: 16px 0;
    margin-left: 136px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #A5A5A5;
}

.menu li {
    padding: 27px 48px;
    border-bottom: 5px solid rgba(128, 126, 126, 0);
}

.menu li:last-of-type {
    margin-right: 136px;
}

.menu li:hover {
    color: black;
    border-bottom: 5px solid #08A6E4;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner_slogan {
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.banner_slogan h1 {
    font-size: 49px;
    line-height: 57px;
    color: black;
}

.banner_slogan p {
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin-top: 20px;
}

.banner_slogan button {
    font-style: 16px;
    line-height: 22px;
    color: white;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border: 0px;
    margin-top: 40px;
    padding: 22px 157px;
    border-radius: 40px;
}

.banner_banner img {
    width: 100%;
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}

.proof_popular {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 102px;
    width: 900px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    color: black;
}

.popular .box div {
    content: " ";
    display: block;
    height: 62px;
    width: 62px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.proof_popular .box:first-of-type div {
    background-color: #FB3B64;
}

.proof_popular .box:nth-child(2) div {
    background-color: #08A6E4;
}

.proof_popular .box:last-of-type div {
    background-color: #55DFB4;
}

.proof_popular .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.box img {
    position: relative;
    left: 30px;
}

.box:nth-child(2) img {
    position: relative;
    left: 25px;
    top: 10px;
}

.box:nth-child(3) img {
    position: relative;
    top: 5px;
}

.box h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 800;
}

.box p {
    width: 130px;
    height: 50px;
    text-align: center;
}